.header {
    /* background-color: var(--darck-bg); */
    background-color: rgba(78, 76, 76, 0.858);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--header-text);
    min-height: 695px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}


.header__wraper {
    padding: 0 15px;
    max-width: 660px;
}

.header__litle {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__litle strong {
    font-size: 60px;
}

.header__litle em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.header__text p+p {
    margin-top: 1em;
}

/* btn */

.button {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    position: relative;
    top: 1px;
}